{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} W3Schools {% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="images/favicon.ico" />
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
        <div class="navbar">
            <a href="https://w3schools.com/">
              <img src="{% static 'images/logo.PNG' %}" alt="logo" />
            </a>
            <nav class="navbar__main-nav">
                <div>
                    <a href="#">My Learning</a>
                    <a href="#">Spaces</a>
                    <a href="#">Courses & Exams</a>
                    <a href="#">Profile</a>
                    <a href="#">Domains</a>
                </div>
                <div>
                    <button>Upgrade</button>
                    <button>Browse Courses & Exam</button>
                    <button>Community</button>
                    <button>Videos</button>
                    <button>Billing</button>
                    <button>Logout</button>
                </div>
            </nav>
        </div>

      {% block content %} {% endblock %}
    <div class="copyright">
    © 1999 - 2023 W3schools. All rights reserved. Cookie policy, Privacy and
    Terms.
    </div>
    </div>

    {% block scripts %} {% endblock %}
  </body>
</html>
