{% extends "base_account.html" %}

{% block title %} W3Schools Signin {% endblock %}

{% block content %}
  <div class="form-container">
  {{ form.non_field_errors }}
    <form class="form" method="post">
      <h2 class="form__title">Log in</h2>

      <div class="form__label">
        <label for="{{ form.username.id_for_label }}">Username</label>
        <span>Need an account? <a class="form__signup" href="{% url 'signup' %}">Sign up</a></span>
      </div>
        {{ form.username }}
        <span class="form__error">{{ form.username.errors|striptags }}</span>
      <div class="form__label">
        <label for="{{ form.password.id_for_label }}">Password</label>
        <a onclick="togglePasswordType()">Show</a>
      </div>
        {{ form.password }}
        <span class="form__error">{{ form.password.errors|striptags }}</span>
        {% csrf_token %}
      <input
        type="submit"
        value="Log in"
        id="submit"
        class="form__submit"
      />

      <div class="form__forgot">
        <a href="#">Forgot password?</a>
      </div>
    </form>
  </div>
{% endblock %}

{% block scripts %}
<script>
  function togglePasswordType() {
    const passwordInput = document.getElementById("password");
    passwordInput.type =
      passwordInput.type === "password" ? "text" : "password";
  }
</script>
{% endblock %}

