{% extends "base_account.html" %}

{% block title %} W3Schools Signup {% endblock %}

{% block content %}
      <div class="form-container">
        <form class="form" method="post">
          <h2 class="form__title">Register</h2>

          {% for field in form %}

              <div class="form__label">
                  {{ field.label_tag }}
              </div>
              <div class="form__tooltip">
                {{ field }}
                  {% if  field.help_text %}
                     <span class="form__tooltip--tooltiptext">{{ field.help_text }}</span>
                  {% endif %}
              </div>
              <span class="form__error">{{ field.errors|striptags }}</span>
          {% endfor %}

          {% csrf_token %}

          <input
            type="submit"
            value="Signup"
            id="submit"
            class="form__submit"
          />

        </form>
      </div>

{% endblock %}
